body{
    margin: 0px;
    padding: 0px;
}


.uno, .dos, .tres, .cuatro{
    width: 200px;
    height: 200px;
    
    
}

.uno{
    background-color: #ee3e64;
}

.dos{
    background-color: #44accf;
    position: absolute;
    left: 200px;
}

.tres{
    background-color: #b7d84b;
}
.cuatro{
    background-color: yellow;    
}
a{
    font-size: 25px;
    text-decoration: none;
    border: 1.5px solid black;
    margin-left: 540px;
    color: azure;
    background-color: black;
    padding: 8px;
    
}